<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Flight Search</title>
	<link href="/styles.css" rel="stylesheet" />
</head>
<body class="d-sm-flex flex-sm-column min-vh-100">
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand">AirSearch</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link" href="/flights">Search Flights</a></li>
				<li class="nav-item"><a class="nav-link" href="/bookingHistory">Booking History</a></li>
				<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>

			</ul>
		</div>
	</div>
</nav>
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
	<div class="container">
		<div class="text-center my-5">
			<h1 class="fw-bolder">Welcome to Flight Searcher!</h1>
			<p class="lead mb-0">Login to start an amazing journey</p>
		</div>
	</div>
</header>
		<div>
			<span th:if="${message}" th:text="${message}"/>
			<span th:if="${error}" th:text="${error}"/>
			<form action="#" th:action="@{/}" th:object="${user}" method="post" autocomplete="off">
				<label>Username</label>
				<input type="text" th:field="*{username}" required>
				<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">Username Error</div>
				<label>Password</label>
				<input type="password" th:field="*{password}" required>
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Password Error</div>
				<button type="submit" class="btn btn-secondary mb-2">Login</button>
				<div> Not a member?</div>
				<a href="register" class="get-started">Register now</a>
			</form>
		</div>
		<!-- Footer-->
		<footer class="py-5 bg-dark mt-auto">
		</footer>
	</body>

</html>